<html>
  <head>
    <title>Papercut Example: Result</title>
    <body>
      <h1> Papercut! </h1>
      <img src='#{images.thumbnail}'/>
      <img src='#{images.avatar}'/>
    </body>
  </head>
</html>
