<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <%- include ../partials/head %>

</head>
<body>
  <header>
    <%- include ../partials/loginnav %>
  </header>
  <br>
  <h1>Login Page!</h1>
  <%- include ../partials/login %>


  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
