<% console.log('showAll ejs all: ' + profileAll) %>

<% profileAll.forEach(function(profile) { %>
  <% console.log('showAll ejs all: ' + profile.profile_id) %>
    <a>
      <div class="thecard">
        <div class="card-caption">
          <ul id="res">
            <p>
              <li>ProfileId: <%= profile.profile_id %></li>
              <li>Name: <%= profile.profile_name %></li>
              <li>Activity: <%= profile.activity_name %></li>
              <li>Emotion: <%= profile.emotion_name %></li>
              <br>
            </p>
          </ul>
        </div>
      </div>
    </a>
  <% }) %>
