<div class="container">
  <h1>Sign up Page!</h1>
  <form action="/users/signup" method="post">
    <div>
      <label for="email">Email: </label>
      <input type="text" name="email">
    </div>
    <div>
      <label for="password">Password: </label>
      <input type="password" name="password">
    </div>
    <br>
    <input type="submit" value="Submit">
  </form>

</div> <!-- /container -->
